#header{
    width: 100%;
    height: 170px;
    background-color: rgb(14, 136, 24);
}

#logo{
    float: left;
    left: 19%;
    top: 50%;
    font-weight: 900;
    font-size: 2.8em;
    font-style: italic;
    position: relative;
    cursor: pointer;
}
#login{
    top: 10px;
    float: left;
    position: relative;
    width: 300px;
    height: 150px;
    left: 50%;
    user-select: none;
}
#register{
    float: left;
    position: relative;
}